.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.page {
  margin-top: 150px;
}

[class*=col-] {
  padding: 0 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .center-xs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center-sm {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page {
    margin-top: 80px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 450px;
  }

  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .center-xs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .center-col-xs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0;
  }

  .page {
    margin-top: 50px;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #60606e;
  background-color: #fff;
  font-size: 14px;
}

a {
  display: block;
  color: #60606e;
  text-decoration: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-horiz {
  display: flex;
  justify-content: center;
}

.flex-center-vert {
  display: flex;
  align-items: center;
}

.flex-col-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

/*HEADER*/
.header {
  height: 100px;
  display: flex;
  align-items: center;
}

.logo {
  position: relative;
  z-index: 5000;
}

.nav-desktop {
  position: relative;
  z-index: 5000;
}
.nav-desktop .menu {
  display: flex;
}
@media (max-width: 767px) {
  .nav-desktop .menu {
    display: block;
    text-align: center;
    padding: 15px 0;
    background-color: #e9e9e9;
  }
}
.nav-desktop .menu li {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .nav-desktop .menu li {
    margin-right: 0;
  }
}
.nav-desktop .menu li:last-child {
  margin-right: 0;
}
.nav-desktop .menu li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
}
@media (max-width: 767px) {
  .nav-desktop .menu li a {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    background-color: #e9e9e9;
    transition: all 0.2s ease-in-out;
  }
}
.nav-desktop .menu li a:after {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #60606e;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .nav-desktop .menu li a:after {
    content: none;
  }
}
.nav-desktop .menu li a:hover {
  color: #7beec7;
}
@media (max-width: 767px) {
  .nav-desktop .menu li a:hover {
    background-color: #60606e;
  }
}
.nav-desktop .menu li a:hover:after {
  width: 50%;
  background-color: #7beec7;
}

/*Mobile menu*/
@media (max-width: 767px) {
  .hidden-menu {
    visibility: hidden;
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .navigation {
    position: fixed;
    top: 70px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: max-content;
    transition: all 1s ease-in-out;
    transform: translateX(150%);
  }
}
@media (max-width: 767px) {
  .navigation.active-menu {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    display: block;
    text-align: center;
    top: 70px;
  }
}

@media (max-width: 767px) {
  .menu-burger.active-menu .line:nth-child(n) {
    width: 30px;
  }
}
@media (max-width: 767px) {
  .menu-burger {
    position: relative;
    z-index: 5000;
    cursor: pointer;
    max-width: 30px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .menu-burger .line {
    height: 1px;
    background-color: #60606e;
    transition: all 0.3s ease-in-out;
  }
}
@media (max-width: 767px) {
  .menu-burger .line:nth-child(1) {
    width: 30px;
  }
}
@media (max-width: 767px) {
  .menu-burger .line:nth-child(2) {
    width: 15px;
  }
}
@media (max-width: 767px) {
  .menu-burger .line:nth-child(3) {
    width: 20px;
  }
}

/*Mobile menu*/
/*SLIDER*/
.site-hero {
  height: 850px;
  width: 100%;
  background: white url(img/site-hero.jpg) no-repeat center;
  background-size: cover;
  margin-top: -100px;
  position: relative;
  z-index: 50;
}

.slides {
  display: flex;
  justify-content: center;
  height: 550px;
  margin-top: 50px;
}
.slides .slide-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: max-content;
  text-align: center;
}
.slides .slide-1 .small-title {
  width: 100px;
  height: 30px;
  background-color: #7beec7;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slides .slide-1 .big-title {
  width: 100%;
  border: 10px solid #60606e;
  padding: 15px 40px;
  margin-bottom: 30px;
}
.slides .slide-1 .big-title h2 {
  font-size: 48px;
}
@media (max-width: 767px) {
  .slides .slide-1 .big-title {
    padding: 15px 25px;
  }
}
.slides .slide-1 p {
  width: 100%;
  font-size: 16px;
}

/*HISTORY OF AGENCY BLOCK*/
.site-history-agency {
  margin-top: -300px;
  position: relative;
  z-index: 100;
}

.history-pic img {
  max-height: 400px;
  width: 100%;
}

.section-title {
  padding-bottom: 30px;
}
.section-title h2 {
  position: relative;
  z-index: 1;
}
.section-title h2:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 70px;
  background-color: #7beec7;
  left: 0;
  top: 15px;
  z-index: -1;
}
@media (max-width: 767px) {
  .section-title h2:after {
    left: 50%;
    margin-left: -35px;
  }
}

.history-info {
  padding-top: 30px;
}

.history-desc {
  display: flex;
  flex-direction: column;
}
.history-desc p {
  font-size: 16px;
  line-height: 25px;
}
.history-desc button {
  align-self: flex-end;
}
@media (max-width: 767px) {
  .history-desc button {
    align-self: center;
  }
}

.default-btn {
  margin-top: 30px;
  height: 50px;
  width: 33.33333%;
  max-width: 165px;
  min-width: max-content;
  outline: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  transition: 0.2s ease-in-out;
}
.default-btn:hover {
  box-shadow: 0 0 10px rgba(96, 96, 110, 0.5);
  transform: scale(1.1);
}
@media (max-width: 767px) {
  .default-btn {
    width: 150px;
  }
}

.green {
  color: white;
  background-color: #7beec7;
}

.white {
  color: #7beec7;
  background-color: white;
}

/*MAIN*/
/*WHY CHOOSE US*/
.section-desc {
  text-align: center;
  margin-bottom: 100px;
  max-width: 66%;
}
.section-desc p {
  line-height: 25px;
}
@media (max-width: 767px) {
  .section-desc {
    margin-bottom: 50px;
  }
}

.service {
  padding: 25px 0 35px;
}
.service .service-title h3 {
  margin: 25px 0;
}
@media (max-width: 767px) {
  .service .service-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.service .service-desc p {
  margin-bottom: 15px;
  text-transform: uppercase;
}
.service .service-desc p:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .service .service-desc p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/*PORTFOLIO*/
.photo {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.photo:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .photo:last-child {
    margin-bottom: 30px;
  }
}
.photo:hover .overlay {
  visibility: visible;
  opacity: 0.5;
  background-color: #000;
  transition: 0.3s;
}
.photo:hover .photo-desc {
  visibility: visible;
  opacity: 1;
  transform: scaleX(1);
  transition: 0.3s;
}
.photo .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.photo .photo-desc {
  position: absolute;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transform-origin: 0 0;
  transform: scaleX(0);
  transition: 0.3s;
}
.photo .photo-desc h3 {
  margin-bottom: 10px;
  color: white;
}
.photo .photo-desc .btn-larger {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  border: none;
  background-color: #7beec7;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.categories {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.categories .categories-title {
  padding-bottom: 40px;
}
.categories .categories-title h2 {
  line-height: 140%;
}
.categories .categories-items .categories-menu {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .categories .categories-items .categories-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .categories .categories-items .categories-menu {
    display: flex;
    margin-bottom: 15px;
  }
}
.categories .categories-items .categories-menu li {
  padding: 3px 0;
  margin-bottom: 25px;
  margin-left: 20px;
  width: max-content;
  transition: 0.2s;
}
@media (min-width: 768px) and (max-width: 991px) {
  .categories .categories-items .categories-menu li {
    margin: 0 10px 0 0;
  }
}
@media (max-width: 767px) {
  .categories .categories-items .categories-menu li {
    margin-left: 0;
    margin: 0 5px;
  }
}
.categories .categories-items .categories-menu li:hover {
  margin-left: 0;
  padding: 3px 20px;
  background-color: #7beec7;
}
.categories .categories-items .categories-menu li.active {
  margin-left: 0;
  padding: 3px 20px;
  background-color: #7beec7;
}
@media (max-width: 767px) {
  .categories .categories-items .categories-menu li.active {
    padding: 3px 5px;
  }
}

/*NEWSLETTER*/
.newsletter {
  padding: 50px 0;
  background-color: #7beec7;
}

@media (max-width: 767px) {
  .newsletter-left-area {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .newsletter-left-area {
    margin-bottom: 15px;
  }
}
.newsletter-left-area h2 {
  color: white;
  line-height: 140%;
}

.newsletter-form {
  background-color: #fff;
  padding: 20px;
}
.newsletter-form h3 {
  font-size: 24px;
  line-height: 130%;
}
.newsletter-form p {
  line-height: 25px;
}
.newsletter-form .email-newsletter form {
  display: flex;
  align-items: center;
}
.newsletter-form .email-newsletter form .email-form {
  margin-top: 30px;
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid #e9e9e9;
  border-right: none;
  font-size: 12px;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #60606e;
}
.newsletter-form .email-newsletter form .email-form::placeholder {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #e9e9e9;
  text-transform: uppercase;
}

/*FOOTER*/
.footer {
  padding: 50px 0;
}

.nav-footer .footer-menu {
  display: flex;
}
@media (max-width: 767px) {
  .nav-footer .footer-menu {
    flex-direction: column;
  }
}
.nav-footer .footer-menu li {
  position: relative;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .nav-footer .footer-menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.nav-footer .footer-menu li:last-child {
  margin-right: 0;
}
.nav-footer .footer-menu li:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 1px;
  right: -13px;
  top: 50%;
  background-color: #60606e;
}
@media (max-width: 767px) {
  .nav-footer .footer-menu li:after {
    visibility: hidden;
    opacity: 0;
  }
}
.nav-footer .footer-menu li:last-child:after {
  content: none;
}
.nav-footer .footer-menu li a {
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.nav-footer .footer-menu li a:hover {
  color: #7beec7;
}

.copyright p {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .copyright p {
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .copyright p {
    margin-top: 10px;
  }
}

.social {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .social {
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .social {
    justify-content: center;
  }
}
.social li {
  margin-right: 20px;
}
.social li:last-child {
  margin-right: 0;
}
.social li a {
  transition: all 0.2s ease-in-out;
}
.social li a:hover {
  color: #7beec7;
}

/*======================================================*/
/*======================================================*/
/*ABOUT HTML*/
/*======================================================*/
/*======================================================*/
/*TOP*/
.top {
  height: 500px;
  background: white url(img/site-top.png) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 50;
  width: 100%;
  margin-top: -100px;
  padding-top: 100px;
  text-align: center;
}

.page-title .page-name h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

/*ABOUT US and WHAT WE DO*/
.section-subtitle {
  padding-bottom: 30px;
}
.section-subtitle h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}

.section-content p {
  line-height: 25px;
}

@media (max-width: 767px) {
  .what-we-do-side {
    margin-top: 50px;
  }
}

/*SOME BENEFITS*/
.benefit-block {
  margin-bottom: 50px;
}
.benefit-block .benefit-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.benefit-block .benefit-title .benefit-icon {
  background-color: #7beec7;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.benefit-block .benefit-desc p {
  line-height: 25px;
}

/*THE DREAM TEAM*/
.dream-team {
  margin-top: 100px;
}
@media (max-width: 767px) {
  .dream-team {
    margin-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .dream-team {
    margin-top: 30px;
  }
}

.team-person {
  margin-bottom: 30px;
  position: relative;
}
.team-person img {
  width: 100%;
}
.team-person:hover .team-desc {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}
.team-person .team-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
  padding: 20px;
  background-color: #60606e;
  text-align: center;
  width: 100%;
  transform-origin: 0 bottom;
  transform: scaleY(0);
  transition: 0.3s;
}
@media (max-width: 767px) {
  .team-person .team-desc {
    padding: 10px;
  }
}
.team-person .team-desc h3 {
  color: white;
}
@media (max-width: 767px) {
  .team-person .team-desc h3 {
    font-size: 14px;
  }
}

.bottom-bar {
  padding: 50px 30px;
  background-color: rgba(96, 96, 110, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .bottom-bar {
    text-align: center;
    flex-direction: column;
  }
}
.bottom-bar p {
  font-style: italic;
  font-size: 18px;
}
.bottom-bar .default-btn {
  margin-top: 0;
}
@media (max-width: 767px) {
  .bottom-bar .default-btn {
    margin-top: 15px;
  }
}

/*TESTIMONIALS*/
.testimonial-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.testimonial-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
.testimonial-img img {
  width: auto;
  height: auto;
  margin: 0 auto;
}

.testimonial-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.testimonial-desc p {
  line-height: 25px;
}
.testimonial-desc .name {
  width: 100px;
  height: 30px;
  margin-top: 25px;
  background-color: #7beec7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-desc .name h4 {
  color: white;
}

.client {
  width: 100%;
  height: 100px;
  border: 1px solid #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/*======================================================*/
/*======================================================*/
/*SERVICES HTML*/
/*======================================================*/
/*======================================================*/
/*WHAT WE DO*/
.services-side .services-side-desc {
  margin-bottom: 50px;
}
.services-side .services-side-desc p {
  line-height: 25px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.item i {
  color: #7beec7;
}
.item p {
  margin-left: 10px;
}

/*BENEFITS*/
.benefits .col-xs-12:last-child .benefit-service-block {
  margin-bottom: 0;
}

.benefit-service-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 767px) {
  .benefit-service-block {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .benefit-service-block {
    margin-bottom: 30px;
  }
}
.benefit-service-block .section-title h2 {
  font-size: 36px;
}
.benefit-service-block .section-title h2:after {
  width: 50px;
}
.benefit-service-block .section-subtitle {
  padding-bottom: 20px;
}
.benefit-service-block p {
  line-height: 25px;
}

/*PRICING PLANS*/
.paid-plan {
  width: 100%;
  border-top: 5px solid #7beec7;
  background: linear-gradient(225deg, transparent 10px, white 0), linear-gradient(45deg, transparent 10px, #7beec7 0);
  padding: 30px 30px 40px;
  margin-bottom: 30px;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .paid-plan {
    max-width: 340px;
    margin: 0 auto 30px;
  }
}
.paid-plan:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.paid-plan .paid-plan-title .price {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #7beec7;
  width: max-content;
}
.paid-plan .paid-plan-title .price h4 {
  color: white;
}
.paid-plan .paid-plan-desc {
  margin-top: 50px;
}
.paid-plan .paid-plan-desc .default-btn {
  width: 135px;
}

/*======================================================*/
/*======================================================*/
/*BLOG HTML*/
/*======================================================*/
/*======================================================*/
/*BLOG*/
.blog-post {
  margin-bottom: 100px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blog-post {
    margin-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .blog-post {
    margin-bottom: 50px;
  }
}
.blog-post:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blog-post:last-child {
    margin-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .blog-post:last-child {
    margin-bottom: 50px;
  }
}
.blog-post .post-img {
  margin-bottom: 30px;
}
.blog-post .post-img img {
  width: 100%;
}
.blog-post .post-desc .post-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.blog-post .post-desc .post-info .date {
  background-color: #7beec7;
  height: 30px;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.blog-post .post-desc .post-info .date h4 {
  color: white;
}
.blog-post .post-desc .post-info .post-likes i.liked {
  color: #ea6a6a;
}
.blog-post .post-desc .post-info i {
  margin-right: 10px;
  color: #e9e9e9;
  cursor: pointer;
  transition: 0.5s;
}
.blog-post .post-desc .post-info i:hover {
  transform: scale(1.5);
}
@media (max-width: 767px) {
  .blog-post .post-desc .post-info i {
    font-size: 20px;
  }
}
.blog-post .post-desc .post-info span {
  margin-right: 20px;
}
.blog-post .post-desc h3 {
  margin-bottom: 20px;
}
.blog-post .post-desc p {
  line-height: 25px;
  margin-bottom: 30px;
}
.blog-post .post-desc a {
  display: flex;
  align-items: center;
}
.blog-post .post-desc a h4 {
  margin-right: 5px;
  position: relative;
}
.blog-post .post-desc a h4:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50%;
  height: 2px;
  background-color: #60606e;
  width: 0;
  transition: all 0.2s ease-in-out;
}
.blog-post .post-desc a h4:hover:after {
  width: 50%;
}

.search-area {
  height: 40px;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
}
.search-area form {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  justify-content: space-between;
}
.search-area form .search-form {
  outline: none;
  border: none;
  background-color: #e9e9e9;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #60606e;
  font-weight: bold;
  width: 80%;
}
.search-area form .search-form::placeholder {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #a6a6ad;
  text-transform: uppercase;
}
.search-area form .search-btn {
  outline: none;
  border: none;
  background-color: #e9e9e9;
  color: #a6a6ad;
  cursor: pointer;
}

.widget {
  margin-bottom: 50px;
}

.post-widget .title, .tags-widget .title {
  margin-bottom: 30px;
}

.tabs .tab-title-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .tabs .tab-title-items {
    justify-content: flex-start;
  }
}
.tabs .tab-title-items .tab-title-item {
  padding: 0 10px 20px;
  border-bottom: 2px solid #e9e9e9;
  margin-bottom: 30px;
}
.tabs .tab-title-items .tab-title-item.active {
  border-bottom: 2px solid #7beec7;
  transition: all 0.2s ease-in-out;
}
.tabs .tab-title-items .tab-title-item:hover {
  cursor: pointer;
}
.tabs .tab-title-items h4 {
  font-size: 12px;
}
.tabs .tab-content-items .tab-content {
  display: none;
}
.tabs .tab-content-items .tab-content.active {
  display: block;
}
.tabs .tab-content-items .tab-content .tab-post {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.tabs .tab-content-items .tab-content .tab-post:last-child {
  margin-bottom: 0;
}
.tabs .tab-content-items .tab-content .tab-post .post-media {
  max-width: 80px;
  max-height: 80px;
  margin-right: 15px;
}
.tabs .tab-content-items .tab-content .tab-post .post-desc h4 {
  line-height: 20px;
}
.tabs .tab-content-items .tab-content .tab-post .post-desc p {
  font-size: 12px;
}

.categories-widget .title, .archives-widget .title {
  margin-bottom: 10px;
}

.widget-list li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #a6a6ad;
  transition: 0.2s;
}
.widget-list li a:hover {
  border-bottom: 1px solid #7beec7;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
}
.tags-list li {
  margin: 0 5px 5px 0;
}
.tags-list li a {
  padding: 0 14px;
  height: 30px;
  background-color: #e9e9e9;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  color: #999999;
  transition: 0.3s;
}
.tags-list li a:hover {
  background-color: #7beec7;
  color: #60606e;
}

/*======================================================*/
/*======================================================*/
/*CONTACT HTML*/
/*======================================================*/
/*======================================================*/
/*Contact*/
.contact-form .center-col-xs {
  padding: 0;
}
.contact-form form {
  margin-bottom: 100px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-form form {
    margin-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .contact-form form {
    margin-bottom: 50px;
  }
}
.contact-form form input, .contact-form form textarea {
  background-color: #fefcf9;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  border: none;
  resize: none;
  display: block;
  padding: 20px 15px;
  width: 100%;
  color: #60606e;
}
.contact-form form input::placeholder, .contact-form form textarea::placeholder {
  color: #a6a6ad;
}
.contact-form form input {
  margin-bottom: 30px;
}
.contact-form .contact-info .title {
  margin-bottom: 30px;
}
.contact-form .contact-info .contact-desc p, .contact-form .contact-info .contact-desc a {
  line-height: 25px;
  color: #999999;
}
.contact-form .contact-info .contact-desc p:first-child {
  margin-bottom: 15px;
}
.contact-form .contact-info .contact-desc .mailto {
  font-weight: bold;
}
.contact-form .contact-info .contact-desc .social {
  justify-content: flex-start;
}
.contact-form .contact-info .contact-desc .social a:hover {
  color: #7beec7;
}

.map {
  width: 100%;
  height: 840px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .map {
    margin-top: 15px;
    height: 350px;
  }
}
@media (max-width: 767px) {
  .map {
    margin-top: 15px;
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
